html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  

  scroll-behavior: smooth;
  background-color: #000; 
  color: #000000; 
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #000; 
}